<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="care_vet.css">
    <link rel="stylesheet" href="booking_admin.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/489/489399.png" type="image/x-icon" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="form">
                <div class="left-side">
                    <div class="steps-content">
                        <h3>Step <span class="step-number">1</span></h3>
                        <p class="step-number-content active">Enter your personal information to get closer to companies.</p>
                        <p class="step-number-content d-none">Get to know better by adding your diploma,certificate and education life.</p>
                        <p class="step-number-content d-none">Help companies get to know you better by telling then about your past experiences.</p>
                        <p class="step-number-content d-none">Add your profile piccture and let companies find youy fast.</p>
                    </div>
                    <ul class="progress-bar">
                        <li class="active">Personal Information</li>
                        <li class="active">Input Pet Prescriptions</li>
                    </ul>         
                </div>
                <div class="right-side">
                    <form action="/care1" method="get">
                        <div class="main active">
                            <small><i class="fa fa-smile-o"></i></small>
                            <div class="text">
                                <h2>Pet Information</h2>
                                <p>Enter Customer's Pet information to get closer.</p>
                            </div>
                            <div class="input-text">
                                <div class="input-div">
                                    <input type="text" required require id="user_name" name="pet_name">
                                    <span>Pet Name</span>
                                </div>
                                <div class="input-div">
                                    <input type="text" required require id="user_name" name="pet_type">
                                    <span>Pet Type</span>
                                </div>
                            </div>
                            <div class="input-text">
                                <div class="input-div">
                                    <input type="text" required require name="pet_description">
                                    <span>Pet Descriptions</span>
                                </div>
                                <div class="input-div">
                                    <input type="text" required require name="pet_health">
                                    <span>Pet Health Descriptions</span>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="next_button" type="submit">Next Step</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
