<%- include('heading') %> 

<body>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">MSIS3303.M22.CTTT</span></a>
          <span class="mx-md-2 d-inline-block"></span>
          <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">Group 3</span></a>
          <div class="float-right">
            <a href="" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
            <span class="mx-md-2 d-inline-block"></span>
            <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="site-navbar js-sticky-header site-navbar-target navbar-" role="banner">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="site-logo">
          <a href="/" class="text-black"><span class="text-primary">PetCare</a>
        </div>

        <div class="col-12">
          <nav class="site-navigation text-right ml-auto " role="navigation">

            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
              <li><a href="/" class="nav-link">Home</a></li>
              <li><a href="#ser" class="nav-link">Services</a></li>
              <li class="has-children">
                <a href="/aboutus" class="nav-link">About Us</a>
                <ul class="dropdown arrow-top">
                  <li><a href="/aboutus" class="nav-link">Team</a></li>
                  <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                  <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                  <li class="has-children">
                    <a href="#">More Links</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
              <li><a href="#blog-section" class="nav-link">Blog</a></li>
              <li><a href="#contact-section" class="nav-link">Contact</a></li>
              <li class="has-children">
                <img class="icon-user" src="/img/user.png" alt="">
                <ul class="dropdown arrow-top">
                  <li><a href="/login" class="nav-link">Login</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>
  </header>
  <div class="heading">
    <div class="intro-text">
      <h1>Pet Care</h1>
      <p>We are always ready to take care of your precious friend</p>
      <form method="get" action="/booking">
        <button type="submit" class="btn btn-lg btn-primary">Discover More →</button>
      </form>
    </div>
  </div>
  <div class="body-essentials">
    <div class="care-essentials">
      <div class="care-essentials-title">
        <h1 class="care-essentials-h1">Care Essentials</h1>
      </div>
      <div class="care-essentials-options">
        <div class="card" style="width: 18rem;">
          <a class="link-dark" href="" style="text-decoration:none">
            <img src="/img/general-pet-care_facebook.jpg" style="height: 190px" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>ARTICLE</h6>
              <h5 class="card-text">Choosing a Veterinarian.</h5>
            </div>
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a class="link-dark" href="" style="text-decoration:none">
            <img src="/img/puppy-care.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>ARTICLE</h6>
              <h5 class="card-text">Puppy Care Basics.</h5>
            </div>
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a class="link-dark" href="" style="text-decoration:none">
            <img src="/img/prepare-vet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>ARTICLE</h6>
              <h5 class="card-text">Preparering for a Vet Visit.</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="body-essentials">
      <div class="care-essentials">
        <div class="care-essentials-title">
          <h1 class="care-essentials-h1">Diet & Nutrition</h1>
        </div>
        <div class="care-essentials-options">
          <div class="card" style="width: 18rem;">
            <a class="link-dark" href="" style="text-decoration:none">
              <img src="/img/general-pet-care_facebook.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h6>ARTICLE</h6>
                <h5 class="card-text">Choosing a Veterinarian.</h5>
              </div>
            </a>
          </div>
          <div class="card" style="width: 18rem;">
            <a class="link-dark" href="" style="text-decoration:none">
              <img src="/img/puppy-care.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h6>ARTICLE</h6>
                <h5 class="card-text">Puppy Care Basics.</h5>
              </div>
            </a>
          </div>
          <div class="card" style="width: 18rem;">
            <a class="link-dark" href="" style="text-decoration:none">
              <img src="/img/prepare-vet.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h6>ARTICLE</h6>
                <h5 class="card-text">Preparering for a Vet Visit.</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-carousel" id="ser">
    <div class="service-content">
      <h3 class="service-title">Service</h3>
    </div>
    <section id="testimonials">
      <div class="background-testimonials">
        <div id="testimonials-slide" class="carousel slide carousel-color" data-ride="carousel" data-interval="3000" style="border-radius: 30px;">
          <ol class="carousel-indicators">
            <li data-target="#testimonials-slide" data-slide-to="0" class="active"></li>
            <li data-target="#testimonials-slide" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <% Info.forEach(element => { %> 
            <div class="carousel-item <%= element.carousel %> container-fluid">
              <img class="w-100" src="/img/health-check.jpg" alt="Second slide" style="border-radius: 30px;">
              <div class="book-now">
                <table class="table-service">
                  <tbody>
                    <tr>
                      <td><h3><%= element.ser_type %> </h3>
                        <p style="color:aliceblue;"><%= element.ser_desc %> </p>
                      </td>
                      <td class="button-book-now">
                        <form method="get" action="/login">
                          <button class="btn btn-primary btn-booking-service" type="submit" name="booking-schedule">Book Now</button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <% }); %> 
          </div>
          <a class="carousel-control-prev carousel-dark carousel-control" href="#testimonials-slide" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next carousel-dark carousel-control" href="#testimonials-slide" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
  </div>
</body>

</html>