<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <script src="login.js"></script>

    <title>Login</title>
</head>

<body>
    <div class="loginbox">
        <a href="/">
            <img src="img/logo1.png" class="avatar">
        </a>
        <h1> Login </h1>
        <form>
            <p>Username</p>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <p>Password</p>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <p></p>

            Remember me
            <input type="checkbox" checked="checked" name="remember" value="">

            <input type="submit" name="" value="login">
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an acount</a>
        </form>
    </div>
</body>

</html>